@model Hibernate.Models.ViewModels.Parts
@{
    ViewData["Title"] = "Group Leader Page";
}







<div class="text-center">
    <h1>Group Leader Dashboard</h1>
</div>
<br />
<br />

<br />
<br />

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="GroupLeader" asp-action="Index" class="btn btn-info btn-outline-light">Dashboard</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="List" class="btn btn-dark btn-outline-info">Participant List</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="Pending" class="btn btn-dark btn-outline-info">Pending Users</a>
        </li>
    </ul>
</div>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = google.visualization.arrayToDataTable([
                ['Amount Raised', 'USD',],
                ['Emma Yern', 80],
                ['Chelesea Jay', 95],
                ['Brittany Taylor', 55],
                ['Barbie Gee', 40]
            ]);

            var data1 = google.visualization.arrayToDataTable([
                ['Amount Raised', 'USD',],
                ['Emma Yern', 80],
                ['Chelesea Jay', 95],
                ['Brittany Taylor', 55],
                ['Barbie Gee', 40]
            ]);

            var options = {
                title: 'Top Participants',
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'Amount Raised in USD',
                    minValue: 0
                },
                vAxis: {
                    title: ''
                }
            };

            var options1 = {
                title: 'Top Participants',
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'Amount Raised in USD',
                    minValue: 0
                },
                vAxis: {
                    title: ''
                }
            };


            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            chart.draw(data, options);


            var chart1 = new google.visualization.BarChart(document.getElementById('chart2'));

            chart1.draw(data1, options1);
        }
    </script>
</head>

<body>
    @{

        if (Model.GId == 1)
        {
            <div id="chart_div"></div>
        }

        if (Model.GId == 2)
        {
            <div id="chart2"></div>
        }


    }
</body>
</html>


<br />
<br />


<div class="container-fluid">
    <table class="table table-striped border" id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
        <thead>
            <tr>
                <th data-field="firstName" data-sortable="true">
                    Name
                </th>

                <th data-field="bedSheets" data-sortable="true">
                    Bed Sheets
                </th>
                <th data-field="pillowCases" data-sortable="true">
                    Pillow Cases
                </th>
                <th data-field="amountRaised" data-sortable="true" style="text-align: right ">
                    Amount Raised
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Participants)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>

                    <td>
                        @item.BedSheets
                    </td>
                    <td>
                        @item.PillowCases
                    </td>
                    <td style="vertical-align: top; text-align:right">
                        @item.Total.ToString("C")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-striped border">
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th style="text-align:right">@Model.GTotal.ToString("C")</th>
        </tr>
    </table>
</div>



