@model IEnumerable<Hibernate.Models.ViewModels.ApplicationUser>

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="GroupLeader" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="List" class="btn btn-dark btn-outline-info">Participant List</a>
        </li>
        <li>
            <a asp-controller="Participant" asp-action="Pending" class="btn btn-info btn-outline-light">Pending Users</a>
        </li>
    </ul>
</div>

<br />
<div>
    <div class="col-6">
        <h2 class="text-primary">Pending Participants List</h2>

    </div>
    
</div>

<div class="p-4 border w-100">
    <table class="table table-striped border">
        <tr class="table-secondary">

            <th>
                Email
            </th>
            <th>
                Name
            </th>
          
            <th align="right">Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.FirstName  @item.LastName
                </td>
              

                <td>
                    <div class="text-left   ">
                        <form asp-action="Delete" asp-route-userId="@item.Id">

                            @if (item.isApproved == false)
                            {
                                //We want to show them the option to lock
                                <button asp-action="Approve" asp-route-userId="@item.Id" class="btn btn-success text-white"
                                        style="cursor:pointer">
                                    <span>&nbsp; Accept &nbsp;</span>
                                </button>
                            }
                            else
                            {
                                //We want to show them the option to unlock
                                <button asp-action="Approve" asp-route-userId="@item.Id" class="btn btn-warning text-white"
                                        style="cursor:pointer">
                                    <span> Approved </span>
                                </button>
                            }


                            <button onclick="return confirm('Are you sure you want to reject this user?')"
                                    class="btn btn-danger">
                                Reject
                            </button>
                        </form>
                    </div>
                </td>
            </tr>

        }
    </table>


</div>