@model Hibernate.Models.Group
@inject Microsoft.AspNetCore.Identity.SignInManager<Hibernate.Models.ViewModels.ApplicationUser> signInManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Group Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Group Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            City:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            State:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Admin"))
{
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">Edit</a> |
    <a asp-action="AdminIndex">Back to List</a>
</div>
}
@if (User.IsInRole("Sales Rep"))
{
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">Edit</a> |
    <a asp-action="SRIndex">Back to List</a>
</div>
}
