@model IEnumerable<Hibernate.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>



<h2 class="text-center" style="margin-left:50px">Group List</h2>
<br />
<br />
<p class="text-center">
    <a class="btn btn-primary" asp-action="SRCreate" asp-controller="Groups">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Create New
    </a>
</p>
<br />
<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="SalesRep" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Groups" asp-action="SRIndex" class="btn btn-info btn-outline-light">Groups List</a>
        </li>
    </ul>
</div>

<table class="table" style="width: 900px; margin-left:175px;" id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-field="address" data-sortable="true">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th data-field="city" data-sortable="true">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th data-field="state" data-sortable="true">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .sidebar-container {
        position: absolute;
        width: 250px;
        height: 90%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: #36454F;
        color: #fff;
        top: 57px;
        border-style: solid;
    }

    .content-container {
        padding-top: 20px;
    }

    .sidebar-logo {
        padding: 10px 15px 10px 30px;
        font-size: 20px;
        background-color: #2574A9;
    }

    .sidebar-navigation {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
    }

        .sidebar-navigation li {
            background-color: transparent;
            position: relative;
            display: inline-block;
            width: 100%;
            line-height: 20px;
        }

            .sidebar-navigation li a {
                padding: 10px 15px 10px 30px;
                display: block;
                color: #fff;
            }

            .sidebar-navigation li .fa {
                margin-right: 10px;
            }

            .sidebar-navigation li a:active,
            .sidebar-navigation li a:hover,
            .sidebar-navigation li a:focus {
                text-decoration: none;
                outline: none;
            }

            .sidebar-navigation li::before {
                background-color: #2574A9;
                position: absolute;
                content: '';
                height: 100%;
                left: 0;
                top: 0;
                -webkit-transition: width 0.2s ease-in;
                transition: width 0.2s ease-in;
                width: 3px;
                z-index: -1;
            }

            .sidebar-navigation li:hover::before {
                width: 100%;
            }

        .sidebar-navigation .header {
            font-size: 12px;
            text-transform: uppercase;
            background-color: #151515;
            padding: 10px 15px 10px 30px;
        }

            .sidebar-navigation .header::before {
                background-color: transparent;
            }

    .content-container {
        padding-left: 220px;
    }

    .container-1 {
        display: flex;
    }

    .segment {
        width: 50%
    }
</style>
