@model IEnumerable<Hibernate.Models.ViewModels.ApplicationUser>

<h2 class="text-center">Pending Approvals</h2>

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">      
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">
                Dashboard
            </a>
        </li>
        <li>
            <a asp-controller="Unapprovedusers" asp-action="Index" class="btn btn-info btn-outline-light">
                Pending Approval
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
        </li>
        <li>
            <a asp-controller="Groups" asp-action="AdminIndex" class="btn btn-dark btn-outline-info">Groups List</a>
        </li>
        <li>
            <a a asp-controller="Roles" asp-action="Index" class="btn btn-dark btn-outline-info">Roles List</a>
        </li>
    </ul>
</div>

<div class="p-4 border w-100">
    <table class="table table-striped border">
        <tr class="table-secondary">

            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Group
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.FirstName  @item.LastName
                </td>
                @if (@item.GroupName != null)
                {
                    <td>
                        @item.GroupName
                    </td>

                }
                else
                {
                    <td>
                        n/a
                    </td>

                }




                <td>
                    <div class="text-center">
                        <form asp-action="Delete" asp-route-userId="@item.Id">

                            @if (item.isApproved == false)
                            {
                                //We want to show them the option to lock
                                <button asp-action="Approve" asp-route-userId="@item.Id" class="btn btn-success text-white"
                                        style="cursor:pointer">
                                    <span>&nbsp; Accept &nbsp;</span>
                                </button>
                            }
                            else
                            {
                                //We want to show them the option to unlock
                                <button asp-action="Approve" asp-route-userId="@item.Id" class="btn btn-warning text-white"
                                        style="cursor:pointer">
                                    <span> Approved </span>
                                </button>
                            }


                            <button onclick="return confirm('Are you sure you want to reject this user?')"
                                    class="btn btn-danger">
                                Reject
                            </button>
                        </form>
                    </div>
                </td>
            </tr>

        }
    </table>


</div>
<br />

