@model Hibernate.Models.ViewModels.Groups
@{
    ViewData["Title"] = "Sales Rep Page";

}




<br />
<h2 class="text-center" style="margin-left:50px">Sales Rep Overview</h2>
<br />


@if(Model.SId== 1)
{
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Groups', 'Amount Raised'],
                ['Cherokee', 285],
                ['Sequayah', 135],
                ['Avery', 150],
              
            ]);

            var options = {
                title: 'Groups'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>

}









<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="Index" asp-action="SalesRep" class="btn btn-info btn-outline-light">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Groups" asp-action="SRIndex" class="btn btn-dark btn-outline-info">Groups List</a>
        </li>
    </ul>
</div>



<div class="container-fluid">
    <table class="table" id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
        <thead>
            <tr>
                <th data-field="groupName" data-sortable="true">
                    Group Name
                </th>
                <th data-field="bedSheets" data-sortable="true">
                    Bed Sheets
                </th>
                <th data-field="pillowCases" data-sortable="true">
                    Pillow Cases
                </th>
                <th data-field="total" data-sortable="true" >
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Gs)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.BedSheets
                    </td>
                    <td>
                        @item.PillowCases
                    </td>
                    <td style="vertical-align: top; text-align:right">
                        @item.Total.ToString("C")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table"    >
        <tr class="table-secondary">
            <th style="text-align:left">Total</th>
            <td style="text-align:right;">@Model.GTotal.ToString("C")</td>
        </tr>
    </table>
</div>



<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>